# Environment
NODE_ENV=development

# Application Port
PORT=2000

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=backend

REDIS_CONNECTION_URL=redis://default:redispassword@localhost:6390/0
RABBITMQ_CONNECTION_URL=amqp://guest:guest@localhost:5672

TELEGRAM_ADMIN_ID=450320497
TELEGRAM_TOKEN_BOT=1814221795:AAECZaN9qzTrbeYclG30T_wEVBwJZabvNjv
TELEGRAM_USERNAME_BOT=test_bot

JWT_ACCESS_SECRET=FVasfsv3242sgvsWEWEeq3refdsd34t45y5u7oulgbsdcd
JWT_ACCESS_EXPIRATION_TIME=7d

JWT_REFRESH_SECRET=sdfdsfwere234fdfvdfgrrkgadef23uet8tJGFJGJUDGJe8qwteuwe
JWT_REFRESH_EXPIRATION_TIME=30d


